h1{
   color: #1313aa;

}
nav{
    background-color: #1313aa;
    color: #211f28;
}
a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
}
h2{
    color: #1313aa;

}
